/*COMFIGURAÇÕES===================================================================================================================================================*/
:root{
    --preto1: #000;
    --preto2: #111;
    --cor-texto: #eee;
    --cinza: #505050;
    --font-arial: Arial;
    --font-GOT: 'GameOfThrones';
    --tamanho-header: 70px;
    --altura-espaçamento-linha: 1.3;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: 'GameOfThrones';
    src: url(../fonts/game_of_thrones.woff) format('woff');
    font-style: normal;
}

body{
    background: var(--preto1);
    font-family: var(--font-arial);
    color: var(--cor-texto);
    line-height: var(--altura-espaçamento-linha);


}

/*COMPUTADOR:=====================================================================================================================================================*/

    /*HEADER:*/
header{
    background: var(--preto2);
    height: var(--tamanho-header);
    position: fixed;
    width: 100%;
    opacity: 0.93;
}

header .header-content {
    height: inherit;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .header-content .menu {
    display: none;
}

header .header-content .mobile-menu {
    background: none;
    border: 0;
}

        /*FIGURE:*/
header .logo{
    width: 50%;
}

        /*NAV:*/
nav ul{
    list-style: none;
}

.linha-header a{
    text-decoration: none;
    color:var(--cor-texto);
}

a:hover{
    color:var(--cinza);

}



    /*MAIN:*/
main{
    padding: 80px 20px 0 0;
    background: url(../asset/) no-repeat center;
    background-size: cover;
}

        /*SECTION1:*/
.secão1{}

        /*SECTION2:*/
.secão2{}

        /*SECTION3:*/
.secão2{}

        /*SECTION4:*/
.secão4{}

    /*FOOTER:*/
footer{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*RESPONSIVIDADE:=================================================================================================================================================*/

/*@media (max-width: 600px) {

    nav ul{
        gap: 14px;
        font-size: 12px;
        font-family: 'GameOfThrones';
    }
}

@media (min-width: 600px) and (max-width: 900px) {

    h1{
        color: red;
        font-family: 'GameOfThrones';
    }

    nav ul{
        gap: 14px;
        font-size: 14px;
        font-family: 'GameOfThrones';
    }
}

@media (min-width: 900px) and (max-width: 1200px) {

    h1{
        color: green;
        font-family: 'GameOfThrones';
    }

    nav ul{
        gap: 14px;
        font-size: 12px;
        font-family: 'GameOfThrones';
    }
}*/

@media(min-width: 1024px) {
    header .header-content {
        max-width: 1400px;
        margin: 0 auto;
    }

    header .header-content .menu {
        display: flex;
    }

    header .header-content .menu ul {
        display: flex;
        gap: 20px;
        font-family: 'GameOfThrones';
    }


    header .header-content .mobile-menu {
       display: none;
    }
}
