/*COMFIGURAÇÕES===================================================================================================================================================*/
:root {
    --preto1: #000;
    --cor-header: #111;
    --cor-texto: #eee;
    --cinza: #505050;
    --font-arial: Arial;
    --font-GOT: 'GameOfThrones';
    --tamanho-header: 70px;
    --altura-espaçamento-linha: 1.3;
    --transicao: 0.35s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'GameOfThrones';
    src: url(../fonts/game_of_thrones.woff) format('woff');
    font-style: normal;
}

body {
    background: var(--preto1);
    font-family: var(--font-arial);
    color: var(--cor-texto);
    line-height: var(--altura-espaçamento-linha);


}


h3{
    font-family: var(--font-GOT);
}

/*COMPUTADOR:=====================================================================================================================================================*/

/*HEADER:
.cabecalho {
    background: var(--cor-header);
    height: var(--tamanho-header);
    position: fixed;
    width: 100%;
    opacity: 0.95;
    z-index: 1000;
    top: 0;
    left: 0;
}



.conteudo-cabecalho {
    height: inherit;
    padding: 0 16px;
    margin: 0 auto;
    max-width: 1300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-cabecalho img{
    height: 40px;
    transition: var(--transicao);
}

.controle-menu:checked ~ .navegacao{
    display: flex;
}

.controle-menu:checked ~ .logo-cabecalho{

    opacity: 0;
    pointer-events: none;
}

.mobile-menu img{
    width: 32px;
    cursor: pointer;
    user-select: none;
    -webkit-user-drag: none;
}

.controle-menu {
    display: none;
}


.navegacao{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--tamanho-header);
    background: var(--cor-header);
    display: none;

    align-items: center;
    justify-content: center;
    transition: var(--transicao);

}

.navegacao ul {
    display: flex;
    gap: 24px;
}

.navegacao a {
    color: var(--cor-texto);
    text-decoration: none;
    font-family: var(--fonte-got);
    font-size: 18px;
    letter-spacing: 1px;
    transition: var(--transicao);
}

.navegacao a:hover {
    opacity: 0.6;
}*/

.header {
    background: var(--preto2);
    height: var(--tamanho-header);
    position: fixed;
    width: 100%;
    opacity: 0.93;
}

.header .header-content {
    height: inherit;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .header-content .menu {
    display: none;
}

.header .header-content .mobile-menu {
    color: var(--cor-texto);
    background: none;
    border: 0;
}

.header .logo {
    width: 40%;
    transition: opacity.3s ease;
    /* A propriedade transition: opacity .3s ease; serve para criar uma animação suave quando a opacidade de um elemento muda:*/
}

.menu-button img {
    width: 50px;
    height: 40px;
    object-fit: cover;

    filter: invert(100%);
}

.menu-toggle {
    display: none;
}

.nav ul {
    list-style: none;
}

.linha-header a {
    text-decoration: none;
    color: var(--cor-texto);
}

a:hover {
    color: var(--cinza);

}

/*MAIN:*/
main {
    padding: 80px 20px 0 0;
    background: url(../asset/) no-repeat center;
    background-size: cover;
}

/*SECTION1:*/

 /* O Contêiner de Texto: .texto */
.texto {
    position:absolute;
    top: 60%;   
    transform: translate(0, -50%); 
    text-align: left; 
    color: rgb(212, 202, 202);
    padding: 20px;
    width: 40%; 
}

/* Estilos para o Título e Parágrafo */
.texto h2 {
    font-size: 3.5em;
    margin-bottom: 15px;
}

.texto p {
    font-size: 1.1em;
    line-height: 1.6;
}    


/*SECTION2:*/
/* Estilos para os Cards das Casas */
.house-gallery {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.house-card {
    border: 1px solid #444;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    flex-basis: calc(33.333% - 30px);
    min-width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.house-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
}

.house-card img {
    width: 120px;
    height: 120px;
    object-fit: contain;
    margin-bottom: 15px;
}

/* tamanho do p dentro dos cards*/
.house-card p {
    font-size: 1.1rem;
    color: rgb(255, 255, 255);
}

/* tamanho dos outros p*/

p {
    font-size: 1.5em;
}


/*  Responsividade dos cards  */
@media (max-width: 600px) {
    nav ul {
        gap: 14px;
        font-size: 12px;
        font-family: 'GameOfThrones';
    }

    .house-card {
        flex-basis: 100%;
        /* 1 card por linha em telas muito pequenas */
    }
}


@media (min-width: 600px) and (max-width: 900px) {
    nav ul {
        gap: 14px;
        font-size: 14px;
        font-family: 'GameOfThrones';
    }

    .house-card {
        flex-basis: calc(50% - 30px);
        /* 2 cards por linha */
    }
}


@media (min-width: 900px) and (max-width: 1200px) {
    nav ul {
        gap: 14px;
        font-size: 12px;
        font-family: 'GameOfThrones';
    }

    .house-card {
        flex-basis: calc(33.333% - 30px);
        /* 3 cards por linha */
    }
}

@media (min-width: 1024px) {
    header .header-content {
        max-width: 1400px;
        margin: 0 auto;
    }

    header .header-content .menu {
        display: flex;
    }

    header .header-content .menu ul {
        display: flex;
        gap: 20px;
        font-family: 'GameOfThrones';
    }

    header .header-content .mobile-menu {
        display: none;
    }
}


/*SECTION3:*/
.secão2 {}

/*SECTION4:*/
.secão4 {}

/*FOOTER:*/
footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.GOT {
    font-family: 'GameOfThrones';
    text-decoration: none;
    color: var(--cor-texto);
    font-size: 12.5px;

}

/*RESPONSIVIDADE:=================================================================================================================================================*/
/*

@media (min-width: 600px) and (max-width: 900px) {

    h1{
        color: red;
        font-family: 'GameOfThrones';
    }

    nav ul{
        gap: 14px;
        font-size: 14px;
        font-family: 'GameOfThrones';
    }
}

@media (min-width: 900px) and (max-width: 1200px) {

    h1{
        color: green;
        font-family: 'GameOfThrones';
    }

    nav ul{
        gap: 14px;
        font-size: 12px;
        font-family: 'GameOfThrones';
    }
}*/

@media(min-width: 1024px) {
    header .header-content {
        max-width: 1400px;
        margin: 0 auto;
    }

    header .header-content .menu {
        display: flex;
    }

    header .header-content .menu ul {
        display: flex;
        gap: 20px;
        font-family: 'GameOfThrones';
    }


    header .header-content .mobile-menu {
        display: none;
    }
}

