/*COMFIGURAÇÕES===================================================================================================================================================*/
:root{

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: 'GameOfThrones';
    src: url(../fonts/game_of_thrones.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

/*COMPUTADOR:=====================================================================================================================================================*/

    /*HEADER:*/


    /*MAIN:*/

        /*SECTION1:*/


        /*SECTION2:*/


        /*SECTION3:*/


        /*SECTION4:*/


    /*FOOTER:*/

/*RESPONSIVIDADE:=================================================================================================================================================*/

@media (max-width: 600px) {

    h1{
        color:blue;
        font-family: 'GameOfThrones';
    }

    header{
        height: 56px;
        padding: 0 22px;
    }

    .logo{
        height: 36px;
    }

    nav ul{
        gap: 14px;
    }
}

@media (min-width: 600px) and (max-width: 900px) {

    h1{
        color: red;
        font-family: 'GameOfThrones';
    }
}

@media (min-width: 900px) and (max-width: 1200px) {

    h1{
        color: green;
        font-family: 'GameOfThrones';
    }
}