/*COMFIGURAÇÕES===================================================================================================================================================*/
:root {
    /*COMUM:*/
    --preto: #000;
    --cor-texto: #eee;
    --cinza: #505050;
    --altura-linha: 1.3;
    --fonte-principal: Arial;
    --fonte-GOT: 'GameOfThrones';
    --transicao-padrao: 0.35s ease;

    /*HEADER:*/
    --padding-header: 1.2rem;
    --espaço-links-header: 1.8rem;
    --fonte-header: 1.05rem;
    --fonte-header-tablet: 1rem;
    --fonte-header-mobile: 0.9rem;
    --tamanho-icone: 2.2rem;
    --tamanho-icone-mobile: 1.9rem;

}

@font-face {
    font-family: 'GameOfThrones';
    src: url(../fonts/game_of_thrones.woff) format('woff');
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--preto);
    font-family: var(--fonte-principal);
    color: var(--cor-texto);
    line-height: var(--altura-linha);
}


h3 {
    font-family: var(--fonte-GOT);
}


/*COMPUTADOR:=====================================================================================================================================================*/


/*HEADER:*/
header {
    position: fixed;
    inset: 0 auto auto 0;
    width: 100%;
    padding: var(--padding-header) calc(var(--padding-header) * 2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    background: transparent;

}

.logo img {
    height: 50px;
    transition: var(--transicao-padrao);
}

.navegacao {
    display: flex;
    gap: var(--espaço-links-header);
}

.navegacao a {
    color: var(--cor-texto);
    text-decoration: none;
    font-size: var(--fonte-header);
    transition: color 0.25s, transform 0.25s;
    font-family: 'GameOfThrones';
}

.navegacao a:hover {
    color: grey;
    transform: scale(1.05);
}

#botao-do-menu {
    display: none;
}

.icone-do-menu {
    display: none;
    cursor: pointer;
    font-size: var(--tamanho-icone);
    color: var(--cor-texto);
}

@media(max-width:1024px) {
    :root {
        --fonte-header: var(--fonte-header-tablet);
    }

    .navegacao {
        gap: 1.2rem;
    }
}


@media(max-width:850px) {
    .icone-do-menu {
        display: block;
    }

    .navegacao {
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        pointer-events: none;
        flex-direction: row;  /*lado a lado*/
        justify-content: center;
    }

    header:has(#botao-do-menu:checked) .navegacao {
        opacity: 1;
        pointer-events: auto;
    }

    header:has(#botao-do-menu:checked) .logo img {
        opacity: 0;
    }
}

@media(max-width:500px) {
    :root {
        --fonte-header: var(--fonte-header-mobile);
        --tamnho-do-icone: var(--tamanho-icone-mobile);
        --padding-header: 0.8rem;
    }

    header {
        padding: var(--padding-header) calc(var(--padding-header)*2);
    }

    .navegacao {
        gap: 0.8rem;
    }
}

/*MAIN:*/
main {
    padding: 80px 20px 0 0;
    background: url(../asset/) no-repeat center;
    background-size: cover;
}

/*SECTION1:*/
.inicio img {
    transform: translateX(100px);
    position: sticky;
}

/* O Contêiner de Texto: principal */
.texto {
    position: absolute;
    top: 60%;
    transform: translate(0, -50%);
    text-align: left;
    color: rgb(212, 202, 202);
    padding: 20px;
    width: 40%;
}

/* Estilos para o Título e Parágrafo: */
.texto h2 {
    font-size: 3.5em;
    margin-bottom: 15px;
}

.texto p {
    font-size: 1.1em;
    line-height: 1.6;
}


/*SECTION2:*/

.sinopse section {
    box-shadow: 0 -5px 15px rgba(155, 43, 43, 0.2);
}



.container-sinopse {
    width: 90%;
    /* ocupa quase a tela inteira */
    max-width: 1200px;
    margin: 60px auto;
    padding: 50px 60px;
    border-radius: 12px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
    color: #ffffff;
    line-height: 1.8;
    font-size: 1.15rem;
    letter-spacing: 0.3px;
}

.container-sinopse h2 {
    color: #d1d1d1;
    font-size: 2rem;
    margin-bottom: 15px;
    margin-top: 30px;
    font-family: "Cinzel", serif;
    /* estilo medieval */
    letter-spacing: 2px;
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
    border-bottom: 1px solid #a1a1a1;
    padding-bottom: 8px;
}

.container-sinopse p {
    margin-bottom: 25px;
}

.container-sinopse strong {
    color: #e0cba0;
}

/*SECTION3:*/
/* Estilos para os Cards das Casas */
.house-gallery {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.house-card {
    border: 1px solid #444;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    flex-basis: calc(33.333% - 30px);
    min-width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.4s, box-shadow 0.5s;
    transform: rotateX(0deg) scale(1);
}

.house-card:hover {
    transform: translateY(-5px) rotateX(5deg) scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
}

.house-card img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin-bottom: 16px;
    z-index: 1;
}

.house-card p {
    font-size: 1.1rem;
    color: rgb(245, 237, 237);
    position: relative;
    opacity: 0;
    transform: translateZ(50px) translateY(20px);
    transition: opacity 0.5s, transform 0.5s;
    margin: 17px;

}

.house-card:hover p {
    opacity: 1;
    transform: translateZ(70px) translateY(-5px);
}


.house-card h3 {
    margin-top: -3%;
}


/* tamanho dos outros p*/

p {
    font-size: 1.0em;
}


/*  Responsividade dos cards  */
@media (max-width: 600px) {
    nav ul {
        gap: 14px;
        font-size: 12px;
        font-family: 'GameOfThrones';
    }

    .house-card {
        flex-basis: 100%;
        /* 1 card por linha em telas muito pequenas */
    }
}


@media (min-width: 600px) and (max-width: 900px) {
    nav ul {
        gap: 14px;
        font-size: 14px;
        font-family: 'GameOfThrones';
    }

    .house-card {
        flex-basis: calc(50% - 30px);
        /* 2 cards por linha */
    }
}


@media (min-width: 900px) and (max-width: 1200px) {
    nav ul {
        gap: 14px;
        font-size: 12px;
        font-family: 'GameOfThrones';
    }

    .house-card {
        flex-basis: calc(33.333% - 30px);
        /* 3 cards por linha */
    }
}

@media (min-width: 1024px) {
    header .header-content {
        max-width: 1400px;
        margin: 0 auto;
    }

    header .header-content .menu {
        display: flex;
    }

    header .header-content .menu ul {
        display: flex;
        gap: 20px;
        font-family: 'GameOfThrones';
    }

    header .header-content .mobile-menu {
        display: none;
    }
}

/*SECTION4:*/
/* Estilos para a seção do mapa */
#mundo {
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.mundo img {
    width: 100%;
    height: 100%;
}

/*FOOTER:*/
footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.GOT {
    font-family: 'GameOfThrones';
    text-decoration: none;
    color: var(--cor-texto);
    font-size: 12.5px;

}

/*RESPONSIVIDADE:=================================================================================================================================================*/

@media(min-width: 1024px) {
    header .header-content {
        max-width: 1400px;
        margin: 0 auto;
    }

    header .header-content .menu {
        display: flex;
    }

    header .header-content .menu ul {
        display: flex;
        gap: 20px;
        font-family: 'GameOfThrones';
    }


    header .header-content .mobile-menu {
        display: none;
    }
}